<?xml version="1.0"?>
<ruleset name="laravel-contracts">
    <description>The coding standard of laravel-contracts package</description>

    <exclude-pattern>*/*.blade.php</exclude-pattern>

    <!-- Use the PSR2 Standard-->
    <rule ref="PSR2" />
</ruleset>
